{erl_opts, [
	   debug_info,
	   warnings_as_errors,
	   warn_unused_vars,
	   nowarn_shadow_vars,
	   warn_unused_import,
	   {platform_define, "18|19|^2", new_rand},
	   {platform_define, "^2", ets_ref}
	   ]}.
{xref_checks, [undefined_function_calls, deprecated_function_calls]}.
{eunit_opts, [verbose]}.
